*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.container{
	margin:0 auto;
	width:75%;
}

.row{
	display:flex;
	flex-wrap:wrap;
}

.service-sec{
	padding:15px 0;
}

.headings h6{
	padding-bottom:10px;
	position:relative;
	color:rgba(0, 0, 0, 0.5)
}

.headings h6::after{
	content:"";
	background-color:gold;
	width:8%;
	height:2px;
	position:absolute;
	left:60px;
	top:5px;
	
}

.headings h1{
	padding-bottom:25px;
}


.service-item-1, .service-item-2, .service-item-3, .service-item-4, .service-item-5, .service-item-6{
	border:1px solid rgba(0, 0, 0, 0.2);
	padding:50px 5px;
	text-align:center;
	margin-bottom:30px;
}

p{
	color:rgba(0, 0, 0, 0.5)
}

h2{
	padding-bottom:10px;
}


.icons{
	background-color:gold;
	width:50px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	margin-bottom:20px;
}











.col-1{
	width:8.3%;
	padding:0 15px;
}

.col-2{
	width:16.6%;
	padding:0 15px;
}

.col-3{
	width:25%;
	padding:0 15px;
	
}

.col-4{
	width:33.3%;
	padding:0 15px;
}

.col-5{
	width:41.6%;
	padding:0 15px;

}

.col-6{
	width:50%;
	padding:0 15px;

}

.col-7{
	width:58.3%;
	padding:0 15px;

}

.col-8{
	width:66.6%;
	padding:0 15px;

}

.col-9{
	width:75%;
	padding:0 15px;
}

.col-10{
	width:83.3%;
	padding:0 15px;
}

.col-11{
	width:91.6%;
	padding:0 15px;
}

.col-12{
	width:100%;
	padding:0 15px;
}
